$white: #ffffff;
$blueGrey: #30364d;
$whiteSmoke: #f5f7fa;
$black: #000000;
$darkGrey: #4f4f54;
$lightGrey: #dfe5eb;
$grey: #999999;
$green: #52d48c;
$red: #e03f52;
$blue: #5c7394;
$silver: #b3bcc7;

$fullSiteWidth: 1100px;
