@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.tradesList {
  flex-basis: 350px;
  flex-shrink: 0;
  z-index: 1;
  overflow-y: scroll;
  margin-right: -20px;
  overflow-x: hidden;
}

.notFound {
  @include flexCenter;
  background: $lightGrey;
  font-size: 20px;
  width: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  min-height: 350px;
}

@media(max-width: $fullSiteWidth){
  .tradesList {
    flex-basis: 120px;
  }
}